DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=smart_elderly_care_system
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=smart_elderly_mongo
MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
DEBUG=True

